streamlit
langchain==0.0.47
langchain-google-genai==0.0.1
langchain-groq==0.0.1
PyPDF2==3.0.1
Pillow==10.0.0
SpeechRecognition==3.10.0
beautifulsoup4==4.12.2
requests==2.31.0
faiss-cpu==1.7.4
